{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 140,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore"
}
